.container {
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  background-color: white;
  width: 50vw;
  height: 83vh;
  display: grid;
  gap: 2vw;
  grid-template-columns: 1fr 1fr;
}
.article {
  height: 23vw;
  position: relative;
  max-height: 400px;
  width: 90%;
}
.articlephoto {
  margin-right: 10px;
  scale: 0.8;
  height: 17vw;
  box-shadow: 1px 1px 8px 1px black;
  border-radius: 20px;
  box-sizing: border-box;
}

.cardText {
  display: block;
  height: 4vw;
  overflow: hidden;
}

.price {
  display: block;
  height: 1vw;
  font-weight: bold;
  width: 100%;
  text-align: right;
}

.notfound {
  color: gray;
  padding-left: 80px;
  padding-top: 20px;
  font-size: 30px;
  width: 40vw;
}

.container::-webkit-scrollbar {
  width: var(--width, 20px);
  background: white;
}

.container::-webkit-scrollbar-track {
  background: black;
}
.container::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 7px;
  border: 1px solid black;
}
@media (max-width: 1024px) {
}
@media (max-width: 850px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .article {
    padding-left: 10px;

    width: 100%;
    position: relative;
  }
}
@media (max-width: 500px) {
  .article {
    margin-left: 0px;
  }
}
