.root {
  background-color: black;
  width: 100vw;
  height: 83vh;
  background: url(https://wallpapercave.com/wp/wp6533702.jpg);
  background-position: center;
  background-size: cover;
}

.titulo {
  font-size: 40px;
  background-color: black;
  color: white;
  padding-left: 100px;
  display: block;
  background-color: black;
  margin-left: 15vw;
  margin-right: 15vw;
  width: 70vw;
}
@media (max-width: 1024px) {
  .titulo {
    font-size: 30px;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-left: 50px;
  }
}
@media (max-width: 600px) {
  .titulo {
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    font-size: 20px;
  }
}
