.root {
  background-color: black;
  height: 83vh;
  background: url(https://wallpapercave.com/wp/wp6533702.jpg);
  background-position: center;
  background-size: cover;
}

.titulo {
  width: 70vw;
  font-size: 40px;
  background-color: black;
  color: white;
  padding-left: 60px;
  margin-left: 15vw;
  margin-right: 15vw;
  width: 70vw;
  background-color: black;
}
@media (max-width: 1024px) {
  .titulo {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .titulo {
    font-size: 17px;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
  }
}
