.root {
  top: 0;
  width: 100vw;
  position: fixed;
  height: 7vh;
  z-index: 9999;
  background-color: white;
  border-bottom: 1px solid black;
}

.username {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 15px;
  margin-right: 30px;
}
.username:hover {
  background-color: black;
  color: white;
}

.button {
  text-align: center;
  margin-right: 20px;
  width: 20%;
  display: flex;
}

.options {
  text-align: center;
  padding: 4px;
  width: 100px;
  height: 40px;
  color: black;
  border-radius: 10px;
  border: 2px solid black;
  display: block;
  margin-left: 10px;
}
.menu {
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
}

.options:hover {
  background-color: black;
  color: white;
}

.linked {
  background-color: black;
  color: white;
}

@media (max-width: 1024px) {
  :root {
    font-size: 11px;
  }
  .options {
    padding: 5px;
    height: 35px;
    width: 70px;
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .options {
    font-size: 9px;
  }
}
