.carrusel {
  margin-left: 15vw;
  margin-right: 15vw;
  width: 70vw;
  background-color: black;
}

.carruselitem {
  height: 77vh;
  width: 77%;
}

.carruselcuadro {
  width: 100%;
  height: 100%;
  padding-right: 100px;
  padding-left: 100px;
}

.carruselimagen {
  margin-top: 30px;
  height: 50vh;
  top: 0;
  display: block;
}
.carruselTextoTitulo {
  margin-top: 10px;
  color: black;
  font-size: 40px;
  border-radius: 20px;
  padding: 0px;
  background-color: white;
}
.carruseltexto {
  margin-top: 10px;
  color: black;
  font-size: 20px;
  border-radius: 20px;
  padding: 1px;
  background-color: white;
}
@media (max-width: 1024px) {
  .carrusel {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: black;
  }
  .carruselcuadro {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .carruselTextoTitulo {
    font-size: 20px;
  }
  .carruseltexto {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .carrusel {
    margin-left: 5vw;
    margin-right: 5vw;
    width: 90vw;
    background-color: black;
  }
}
