.store {
  display: block;
  width: 100vw;
  height: 100%;
  position: static;
  padding-bottom: 450px;
}

.articles {
  width: 100%;
  display: block;
  float: left;
  display: grid;
  height: 83vh;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  border-right: 1px solid black;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  overflow-y: hidden;
}

.articlesDetail {
  margin-top: 7vh;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
}
