.footer {
  position: fixed;
  bottom: 0px;
  padding-top: 20px;
  height: 10vh;
  width: 100vw;
  border-top: 1px solid white;
  background-color: black;
  color: white;
  z-index: 2;
}

.texto {
  padding-left: 100px;
  display: block;
  float: left;
  font-size: 20px;
}
.iconos {
  padding-right: 100px;
  text-align: center;
  display: block;
  float: right;
}
.icono {
  background-color: white;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 300px;
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .texto {
    display: block;
    float: left;
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .texto {
    padding-left: 0px;
  }
  .iconos {
    padding-right: 0;
  }
  .icono {
    height: 30px;
    width: 30px;
  }
}
