.store {
  display: block;
  width: 100vw;
  height: 83vh;
  position: static;
  padding-bottom: 450px;
}

.articles {
  height: 83vh;
  width: 50vw;
  float: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  border-right: 1px solid black;
}
.articlesDetail {
  margin-top: 7vh;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
}
